<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.multimedia_engineer.watersport_training"
    android:versionCode="1741979827">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:supportsRtl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">
        <!--todo decide if any part of this should be indexable by google. -->

        <activity
            android:name="nl.multimedia_engineer.watersport_training.TrainingActivity"
            android:label="@string/btn_nieuwe_training"/>

        <activity
            android:name="nl.multimedia_engineer.watersport_training.EditCursistActivity"
            android:label="@string/cursist_wijzigen"/>

        <activity
            android:name="nl.multimedia_engineer.watersport_training.DiplomaUitgevenActivity"
            android:label="@string/btn_diploma_uitgeven"/>

        <activity
            android:name="nl.multimedia_engineer.watersport_training.CursistenBehalenDiplomaActivity"
            android:label="@string/btn_diploma_uitgeven"/>


        <activity
            android:name="nl.multimedia_engineer.watersport_training.CursistDetailActivity"
            android:label="@string/cursist"/>

        <activity
            android:name="nl.multimedia_engineer.watersport_training.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="nl.multimedia_engineer.watersport_training.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.multimedia_engineer.watersport_training.MainActivity">
            </meta-data>
        </activity>

        <activity android:name="nl.multimedia_engineer.watersport_training.CursistBehaaldEisActivity"
            android:label="">
        </activity>

        <activity android:name="nl.multimedia_engineer.watersport_training.CursistBehaaldDiplomaActivity" />

        <activity
            android:name="nl.multimedia_engineer.watersport_training.CreateCursistActivity"
            android:label="@string/btn_nieuwe_cursist"/>

        <activity android:name="nl.multimedia_engineer.watersport_training.DemandsPerDisciplineActivity" />

        <activity android:name="nl.multimedia_engineer.watersport_training.CursistListActivity"
            android:label="@string/btn_cursisten_lijst"/>

        <activity android:name="nl.multimedia_engineer.watersport_training.GroupActivity"
            android:label="@string/actionbar_title_groupActivity"/>

        <activity android:name="nl.multimedia_engineer.watersport_training.CreateOrJoinGroupActivity"
            android:label="@string/actionbar_title_new_group_activity" />

        <activity
            android:name="nl.multimedia_engineer.watersport_training.LoginActivity"
            android:launchMode="singleTask"
            android:noHistory="true" />

        <activity
            android:name="nl.multimedia_engineer.watersport_training.MainActivity"
            android:label="@string/app_name" >
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="nl.multimedia_engineer.watersport_training.notification.AlarmReceiver"
            android:process=":remote" />

        <service
            android:name="nl.multimedia_engineer.watersport_training.notification.NotificationService"
            android:exported="false" />

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="watersport_trainingort_training.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->
    </application>

</manifest>